<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>38976008161-4b5pe4n8i6mfofsn57lggr7b3qq88gsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38976008161-4b5pe4n8i6mfofsn57lggr7b3qq88gsp</string>
	<key>API_KEY</key>
	<string>AIzaSyBNmz2VYWxZ4QsQVQ4qHFtl9g3Ja-uSFcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>38976008161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>P1.P1-BUSINESS</string>
	<key>PROJECT_ID</key>
	<string>p1ismyhartnsole</string>
	<key>STORAGE_BUCKET</key>
	<string>p1ismyhartnsole.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38976008161:ios:682f9a5e4965de57</string>
	<key>DATABASE_URL</key>
	<string>https://p1ismyhartnsole.firebaseio.com</string>
</dict>
</plist>